<html>
<head>
<title>Argus</title>

<link rel="stylesheet" type="text/css" href="/static/app.css">
<!-- Use local files in development: -->
<script src="/static/js-lib/jquery.min.js"></script>
<script src="/static/js-lib/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->
<script src="/static/app.js"></script>
<script src="/static/db-service.js"></script>
<script src="/static/util.js"></script>
</head>
<body ng-app="argusUI" ng-controller="argusViewCtrl">
	<div id="menu">
		<div id="menuarea" ng-if="menuStatus">
			<div ng-if="menuStatus == 'info'">
				<span class="info-title"> Image folder: </span> {{ dbInfo.image_folder }} 
				<br><br>
				<span class="info-title"> Database name: </span> {{ dbInfo.db_name }}
				<br><br>
				<span class="info-title"> Image count: </span> {{ dbInfo.image_count }}
			</div>
		</div>
		<div id="menubar">
			<!-- Open a DB -->
			<img class="menuicon" title="open a database" src="/static/images/open.png" ng-click="loadDB('argus/tests/sample_walls/test_db.sqlite')">
			<br><br> 
			<!-- New DB -->
			<img class="menuicon" title="create new database" src="/static/images/new.png" ng-click="newDB('test_db.sqlite', 'argus/tests/sample_walls/')">
			<br><br> 
			<!-- Update the DB -->
			<img class="menuicon" title="update the database" src="/static/images/update.png" ng-class="{ disabled: !dbInfo }">
			<br><br> 
			<!-- View DB Info -->
			<img class="menuicon" title="info" src="/static/images/info.png" ng-class="{ disabled: !dbInfo.db_name }" ng-click="dbInfo.db_name && showMenu('info')">
			<br><br> 
			<!-- Help -->
			<img class="menuicon" title="help" src="/static/images/help.png"> 
			<br><br> 
		</div>
	</div>

	<div id="view">	
		<input class="querybar" placeholder="Query: " type="text" ng-model="query" on-enter="sendQuery()">
		
		<div id="image-container">
			<!-- List of thumbails -->
			<img class="thumbnail" ng-if="!selectedImage" ng-repeat="img in queryResult" ng-src="{{ '/db-image/' +  img.path }}" ng-click="selectImage($index)">

			<!-- Single selected image -->
			<span ng-if="selectedImage">
				<img class="selected-image" ng-src="{{ '/db-image/' + selectedImage.path }}" ng-click="deselectImage()">
				<tag-input tags="selectedImage.tags"></tag-input>
			</span>
		</div>
	</div>
</body>
</html>
